@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

h2{
    font-family: 'times new roman', sans-serif;
}

body{
    background: url('HomeWeb.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Rockwell', sans-serif;    
}

.form {
    width: 400px;
    height: 200px; 
    margin-left: 150px;
    margin-top: 150px;
    font-size: 15px;
}

.form-user,
.form p {
    margin-top: 0;
    margin-bottom: 0;

}

.form-isi{ 
    background: #6495ED;
    padding:3px;
}

.form-user {
    background: #4b4b4b;
    padding: 15px;
    font-size: 1.6em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.form-isi {
    background: #6495ED;
    padding: 10px;
}

.form p {
    padding: 10px;
}

.form input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    outline: 0;
    font-size: 0.95em;
}

.form input[type="password"],
.form input[type="text"] {
    background: white;
    border-color: gray;
    color: black;
}

.form input[type="Password"]:focus,
.form input[type="text"]:focus {
    border-color: black;
}

.form [type="submit"] {
    background: #4b4b4b;
    border-color: transparent;
    color: white;
    width: 100%;
    cursor: pointer;
    font-size: 18px;
    font-family: times new roman;
}

.container {
  padding: 10px;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
}

.forgot{
 float: right;
 border: 1px solid transparent;
 font-style: italic;
 color: #4495E7;
 padding-right: 5px;
 text-decoration: none;
 text-align: right;
}
.password{
    position: relative;
}

.password input[type="password"]{
    padding-right: 30px;
}

.password .glyphicon,#password1 .glyphicon{
    display: none;
    right: 15px;
    position: absolute;
    top: 12px;
    cursor: pointer;
}